body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
  margin: 0;
}

.chessboard {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chess-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  font-family: "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
}

.dark {
  background-color: #b58863; 
  color: black;
}

.light {
  background-color: #f0d9b5;
  color: black;
}

